<div class="login-page">
  <div class="overlay">
    <div class="login-box card shadow p-4">
      <h2 class="text-center mb-3 text-white">إنشاء حساب</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label text-white">الاسم الأول</label>
            <input type="text" class="form-control" formControlName="firstName" />
            <div class="text-danger" *ngIf="submitted && registerForm.get('firstName')?.errors?.['required']">الاسم الأول مطلوب</div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label text-white">الاسم الثاني</label>
            <input type="text" class="form-control" formControlName="lastName" />
            <div class="text-danger" *ngIf="submitted && registerForm.get('lastName')?.errors?.['required']">الاسم الثاني مطلوب</div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label text-white">البريد الإلكتروني</label>
            <input type="email" class="form-control" formControlName="email" />
            <div class="text-danger" *ngIf="submitted && registerForm.get('email')?.errors?.['required']">البريد الإلكتروني مطلوب</div>
            <div class="text-danger" *ngIf="submitted && registerForm.get('email')?.errors?.['email']">البريد الإلكتروني غير صالح</div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label text-white">رقم الجوال</label>
            <input type="number" class="form-control" formControlName="mobileNumber" />
            <div class="text-danger" *ngIf="submitted && registerForm.get('mobileNumber')?.errors?.['required']">رقم الجوال مطلوب</div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label text-white">نوع المستخدم</label>
            <select formControlName="role" class="form-select">
              <option value="">اختر نوع المستخدم</option>
              <option value="admin">مدير</option>
              <option value="user">مستخدم</option>
            </select>
            <div class="text-danger" *ngIf="submitted && registerForm.get('role')?.errors">نوع المستخدم مطلوب</div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label text-white">كلمة المرور</label>
            <input type="password" class="form-control" formControlName="password" />
            <div class="text-danger" *ngIf="submitted && registerForm.get('password')?.errors?.['required']">كلمة المرور مطلوبة</div>
          </div>
        </div>

        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-submit w-50 ">إنشاء حساب</button>
        <p class="d-flex justify-content-center mt-3 text-white">
          لديك حساب؟ <a class="ms-2" routerLink="/login">تسجيل الدخول</a>
        </p>
      </form>
    </div>

    <!-- رسائل التنبيه -->
    <div class="swit-alert-error-message alert alert-danger mt-2" [class.fade-out]="fadeOut" *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
    </div>

    <div class="swit-alert-scss-message alert alert-success mt-2" [class.fade-out]="fadeOut" *ngIf="successMessage">
      <p>{{ successMessage }}</p>
    </div>
  </div>
</div>
