<div class="home-container">
  <div class="col-md-12 top-page">
  <h1 class="text-white"> {{Name}} 👋</h1>
  <p class="text-white">إليك نظرة سريعة على حال المهام الخاصة بك</p>
  </div>


  <!-- ✅ بطاقات الإحصائيات -->
  <div class="stats-cards">
    <div class="stat-card completed">
      <h3>المكتملة</h3>
      <p>45%</p>
    </div>
    <div class="stat-card in-progress">
      <h3>قيد التنفيذ</h3>
      <p>30%</p>
    </div>
    <div class="stat-card not-started">
      <h3>لم تبدأ</h3>
      <p>20%</p>
    </div>
    <div class="stat-card bus">
      <h3>في الانتظار</h3>
      <p>5%</p>
    </div>
  </div>



</div>
